div.tbox1
{
  text-align:center;width:600px;height:15px;overflow:auto;
  transition:height 2s;
}

.tbox1:hover
{
  text-align:center;width:600px;height:250px;overflow:auto;
  transition:height 2s;
}

div.tbox2
{
   text-align:center;width:200px;height:15px;overflow:auto;
  transition:height 2s;
}

.tbox2:hover
{
   text-align:center;width:200px;height:250px;overflow:auto;
  transition:height 2s;
  
}

div.tbox3
{
   text-align:center;width:200px;height:15px;overflow:auto;
  transition:height 2s;
}

.tbox3:hover
{
   text-align:center;width:200px;height:250px;overflow:auto;
  transition:height 2s;
  
}
