
@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');

.romanesco-regular {
  font-family: "Romanesco", cursive;
  font-weight: 400;
  font-style: normal;
}
* {
   cursor: url('https://cdn.cursors-4u.net/previews/vindictus-hero-enchant-723d5618-32.webp') 32 32, auto !important;
  
}

.smallbox {
	float: left;
	background: rgba(255,226,154,0.9);
	color: #ffffff;
	padding: 10px;
	border: 2px solid #000000;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}

.smallbox:hover {
	height: 150px;
	width: 43.8%;
}

.mediumhoverbox {
	float: left;
	background: rgba(255,226,154,0.9);
	color: #ffffff;
	padding: 10px;
	border: 2px solid #000000;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}

.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.largehoverbox {
	float: left;
	background: rgba(255,226,154,0.9);
	color: #ffffff;
	padding: 10px;
	border: 2px solid #000000;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 90%;
	overflow: auto;
        transition: 3s
}

.largehoverbox:hover {
	height: 150px;
	width: 90%;
}
body {
    background: url('https://i.ibb.co/bRyPnmBT/Untitled.png');
    background-size: 1900px;
    background-repeat: repeat;
    background-attachment: fill;
    font-family: "Romanesco" !important;
    color: #ea00ff !important;
    border: none;

}

.topbar {
    background: rgba(74, 74, 72,1);
    font-family: "Romanesco";
    font-size: 20px;
    color: rgb(246, 174, 45);
    
    !important;
}
.navbar {
    background: rgba(74, 74, 72,1);
    font-family: "Romanesco";
    color: rgb(43,255,0) !important;
    border: none;
    border-radius: 0 !important;
}
.navbar li a {
    color: rgba(246, 174, 45) !important;
    font-family: "Romanesco";
    border: none;
    box-shadow: none;

}
.navbar li a:hover {
    background: rgba(246, 174, 45,.25) !important;
    font-family: "Romanesco" !important;
    border-radius: 50px;
    !important;
}
div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
    content: url('https://pngpix.com/images/hd/black-raven-feather-png-oye33-rm2g3kimo9n6potv.jpg');
    max-height: 150px !important;
    rotate: 50deg;
    transform: translate(0px, 0px) !important;
    
    
}

.container.main {
    background: rgba(74, 74, 72);
    font-family: "Romanesco";
    color: rgba(0,24,255,0.7) !important;
    box-shadow: none;
    border-radius: 0;
}

.col-md-9 {
    background: rgba(79,45,12,0);
    font-family: "Romanesco";
    border: none !important;
    color: rgba(22, 23, 24);
    box-shadow: none;
    border-radius: 0;
}

.breadcrumb {
    background: rgb(22, 23, 24);
    border-radius: 0;
    font-family: "Romanesco";
}
.breadcrumb .active {
    color: rgb(255,255,255);
    font-family: "Romanesco";
    border: none !important;
}

.alert {
    background: rgb(246, 174, 45);
    font-family: "Romanesco" !important;
    color: rgb(22, 23, 24) !important;
    border: none !important;
}

.alert a {
    color: rgb(22, 23, 24) !important;
    font-family: "Romanesco" !important;
}
.alert a:hover {
    color: rgb(59, 43, 46) !important;
    font-family: "Romanesco" !important;
}

.alert-warning,
.alert-danger,
 {
    background: rgb(246, 174, 45);
    color:rgb(22, 23, 24) border: none;
    font-family: "Romanesco";
}

.feature,
div.left {
    background: rgba(255, 241, 241) !important;
    font-family: "Romanesco" !important;
    border: none !important;
}

.panel {
    background: rgba(255, 255, 255,0.5) !important;
    border: none !important;
    box-shadow: none !important;
    color: rgb(0,0,0) !important;
    font-size: 30px !important;
}
.progress {
    background: rgb(255,255,255);
    color: rgb(255,255,255);
}
.progress-div,
div.progress {
    color: rgb(255, 255, 255) !important;
}
.progress-bar {
    background: rgb(246, 174, 45);
    color: rgb(255,255,255);
}

h1 {
    color: rgb(0,0,0);
    font-size: 48px;
    font-family: "Romanesco" !important;
    text-align: center;
    border: none , #FFFFFF;
    border-radius: 40px;
    border-width: 6px;

}

h3 {
    color: rgb(0,0,0) !important;
    font-size: 24px !important;
    font-family: "Romanesco";
}

div.xlarge.b {
    background: rgba(250,245,229,0);
    font-family: "Romanesco";
    font-style: italic;
    color: rgb(0,0,0) !important;
    border-radius: 70px;
    border-width: 5px;
    font-size: 25px;
}
div.xlarge.b a {
    font-family: "Romanesco" !important;
    color: rgb(0,0,0) !important;
}

td.bottom {
    background: rgb(0,0,0,0) !important;
    color: rgb(59, 43, 46);
    font-size: 20px;
}

td.bottom a {
    color: rgb(236, 164, 164) !important;
}

form {
    background: rgba(224,158,158,0.83);
    border: none;
    border-radius: 20px;
    border-width: 5px;
    font-family: "Romanesco";
}

table#about.table {
    background: rgb(73,73,73) !important;
}

div.floatright {
    color: rgb(0,0,0); !important
    font-size: 25px; !important
}

.cave-grid,
.mound-grid {
    background: rgba(224,158,158,0.83);
    border: none !important;
    border-radius: 70px !important;
}

.table {
    background: rgba(224,158,158,0.44) !important;
    font-family: "Romanesco";
    border: none;
    border-radius: 50px;
}

.h3 {
    font-family: "Romanesco";
    color: rgb(0,0,0);
    font-size: 30px;
    font-style: italic;
}

th {
    color: rgba(255,0,0,1);
    text-align: center;
    font-size: 25px; !important
    
}

.top {
    background: rgba(0,0,0,0) !important;
    text-align: center;
}

.bottom,
th,
.table .left {
    background: rgb(64, 69, 63, .0) !important;
    color: rgb(0,0,0);
}
.inner-table .left {
    background: rgba(255, 255, 255,.5) !important;
    
    color: rgb(0,0,0) !important;
}
.inner-table .right {
    background: rgba(255, 255, 255,.5) !important;
    
    color: rgb(0,0,0);
}

.inner-table .right a {
    color: rgb(0,0,0);
}

.right_odd {
    background: rgba(255,255,255,0) !important;
    text-align: center;
    font-size: 25px;
}
.right_cub {
    background: rgba(255,255,255,0.5) !important;
}
a:link,
a:visited {
    color: rgb(0,0,0) ;
    font-family: "Romanesco";
}
.topbar a:link, .topbar a:visited, .topbar a:active {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: rgb(255,255,255) !important;
    font-family: "Romanesco" !important;
}

input,
select,
textarea {
    background: rgba(255, 255, 255,0.66);
    border-radius: 45px !important;
    border: none;
    box-shadow: none !important;
    color: rgb(0,0,0) !important;
    text-shadow: none !important;
    font-family: "Romanesco";
}

input#postComment {
    background: rgb(255,255,255);
    border: none;
    color: rgb(59, 43, 46);
}

input#btnChatSend {
    background: #FFFFFF;
}

input[type="submit"] {
    background: #ffffff;
    color: rgb(59, 43, 46);
}

input[type=button] {
    background: rgb(255,255,255) !important;
    border: none !important;
}
input[type=button]:hover,
input[type=submit]:hover {
    background: rgb(255,255,255) !important;
    font-family: "Romanesco";
}

div#lion_image {
    border-radius: 30% !important;
    border: none;
    overflow: hidden;
    margin-top: 15px;
    /* May need adjusting */
    margin-left: 12px;
}

div.cave-grid>img 
/* Pregnant Lionesses */
{
    content: url('https://i.pinimg.com/736x/56/92/fc/5692fcecf065a3a1673109c7c2d38e4c.jpg') !important;
    border-radius: 50px;
    height: 150px;
    width: 250px;
    border: none;
}

a[href$="381245"]>div.cave-grid>img {
    content: url('https://i.pinimg.com/736x/56/92/fc/5692fcecf065a3a1673109c7c2d38e4c.jpg') !important;
}

a[href$="325460"]>div.cave-grid>img {
    content: url('https://i.pinimg.com/736x/56/92/fc/5692fcecf065a3a1673109c7c2d38e4c.jpg') !important;
}

a[href$="210125"]>div.cave-grid>img {
    content: url('https://i.pinimg.com/736x/56/92/fc/5692fcecf065a3a1673109c7c2d38e4c.jpg') !important;
}

a[href$="lionoverview.php?id=269782"]>div.cave-grid>img 
/* Pride Overview */
{
    content: url('https://i.pinimg.com/736x/56/92/fc/5692fcecf065a3a1673109c7c2d38e4c.jpg') !important;
}

a[href$="unsorted.php?id=269782"]>div.cave-grid>img 
/* Unsorted */
{
    content: url('https://i.pinimg.com/736x/56/92/fc/5692fcecf065a3a1673109c7c2d38e4c.jpg') !important;
}

.mound-grid img 
/* Mound(s) */
{
    content: url("https://i.pinimg.com/736x/56/92/fc/5692fcecf065a3a1673109c7c2d38e4c.jpg");
    position: relative;
    width: 200px;
    height: 150px;
    padding-top: -0px;
    bottom: -0px;
    padding-right: 30px;
    border-radius: 40px;
}
.dynastycollection img {
    content: url("https://i.pinimg.com/736x/a8/d8/fd/a8d8fd9ace541bb60a590475e00c8663.jpg");
    height: 9vh;
    width: 90vw !important;
    
}

.s-chat-message:nth-child(even) {
    background: rgb(255,255,255) !important;
    color: #000000 !important;
    border: none;
}
.s-chat-message:nth-child(odd) {
    background: rgb(236,220,205) !important;
    color: rgb(59, 43, 46) !important;
    border: none !important;
}

.s-chat-message__pinned,
.s-chat-message__pinned a {
    background: rgb(86, 65, 56) !important;
    color: #ffffff !important;
    border: none !important;
}
/* Timestamps */
.s-chat-message_timestamp {
    color: #000000 !important;
}

#chatMessageContainer {
    border: none !important;
}

button#label_currentChannel {
    background: rgb(86, 65, 56) !important;
    color: rgb(255,255,255) !important;
    border-radius: 90px !important;
    **;
}
.breadcrumb::after {
    content: "CSS by LemonSeltzer #269782";
    color: #ffffff;
    position: absolute;
    right: 13%;
    z-index: 100;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .breadcrumb::after {
        right: 20%;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .breadcrumb::after {
        right: 20%;
    }
}

@media only screen and (max-width: 767px) {
    .breadcrumb::after {
        right: 22%;
    }

}
