@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@476&display=swap');



/* Spinning Star With Falling Stars - https://www.cursors-4u.com/cursor/spinning-star-with-falling-stars */
* {
  cursor: url('https://i.ibb.co/MyRjpkG6/image.webp') 0 0, auto !important;
    
}
/* End www.Cursors-4U.com Code */



.comfortaa-<comfortaa> {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
}








body {
    background: url(https://i.pinimg.com/736x/4c/4a/03/4c4a03c80e22b9dc14e5f8a6e44e7239.jpg);
    background-size: 1900px;
    background-repeat: fixed;
    background-attachment: fixed;
    
}
 
.topbar {
    background: rgba(220, 204, 187,.8);
    font-family: "Comfortaa";
    color: #000000;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    !important;
}
.navbar {
    background: rgba(220, 204, 187,.8);
    font-family: "Comfortaa";
    color: rgb(47, 45, 45) !important;
    border-top-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
    
}
.navbar li a {
    color: rgb(47, 45, 45) !important;
    font-family: "comfortaa";
    color: white;
    border-radius: 50px;
    box-shadow: 1px 2px white;
   
}
.navbar li a:hover {
    background: rgba(255,255,255,0.58) !important;
    font-family: "comfortaa";
    border: none;
    box-shadow: none;
    color: white;
    !important;
}


.container.main {
    background: rgb(114, 112, 114);
    font-family: "comfortaa ;
    color: rgba(0,24,255,0.7) !important;
    box-shadow: none;
    border-top-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}
.col-md-9 {
    background: rgba(79,45,12,0);
    font-family: "comfortaa";
    border: none !important;
    color: rgb(220, 204, 187) !important;
    box-shadow: none;
    border-radius: 0px;
}

.col-md-12 {
    color: rgb(220, 204, 187) !important;
}






.breadcrumb {
    background: rgba(255,255,255,0.25);
    font-family: "comfortaa";
}
.breadcrumb .active {
    color: rgb(2,13,2);
    font-family: "comfortaa";
    border: none !important;
}








.alert {
    background: rgb(47, 45, 45);
    font-family: "comfortaa";
    color: rgb(255,255,255) !important;
    border: none !important;
}
.alert-warning,
.alert-danger {
    background: rgb(47, 45, 45);
    font-family: "comfortaa";
    border: none;
}








.feature,
div.left {
    background: rgba(255,255,255,0.3);
    font-family: "comfortaa" !important;
    border: none !important;
    !important;
}








.panel {
    background: rgba(75, 83, 88, .7) !important;
    border: none !important;
    box-shadow: none !important;
    color: #000000 !important;
}
.progress {
    background: rgba(3, 3, 3,.1);
}
.progress-div {
    color: rgb(75, 83, 88) !important;
}
.progress-bar {
    background: rgb(47,45,45);
}



img[src$="icon-beetle-gold.png"] {
content: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo") !important;
width: 20px !important;
    height: 20px;
}

img[src$="icon-beetle-silver.png"] {
content: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo") !important;
width: 20px !important;
height: 20px;
filter: grayscale(100%);
}


img[src$="dermestid.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
 height: 20px;
}
 

img[src$="heartshell.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
 height: 20px;
}
 

img[src$="beetlerhino.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
 height: 20px;
}
 

img[src$="easteregg.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
 height: 20px;
}
 
 

img[src$="beetlemant.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
 height: 20px;
}
 

img[src$="khepri.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
 height: 20px;
}
 

img[src$="shard.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
 height: 20px;
}
 

img[src$="axion.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
 height: 20px;
}
 

img[src$="beetlecarrion.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
 height: 20px;
}
 

img[src$="bone.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
 height: 20px;
}
 

img[src$="beetlejewel.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
 height: 20px;
}
 

img[src$="eldritch.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
 height: 20px;
}
 

img[src$="beetleblood.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
 height: 20px;
}

img[src$="nephelinefeather.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
 height: 20px;
}
 

img[src$="demonicscale.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
 height: 20px;
}
 

img[src$="scarabbeetle.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
 height: 20px;
}
 

img[src$="stinkbug.png"] {
    content:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d671ab7-635a-471c-9a94-421322082c73/df1v80f-89466a70-635a-4f3c-82c3-e4e716a8479d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDY3MWFiNy02MzVhLTQ3MWMtOWE5NC00MjEzMjIwODJjNzMvZGYxdjgwZi04OTQ2NmE3MC02MzVhLTRmM2MtODJjMy1lNGU3MTZhODQ3OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5wbBGN758AZuyAUVJRUlQW9QkRJ0TWNvvr4OCa-ENIo')!important;
    width:20px!important;
    height: 20px;
}



h1 {
    color: #000000;
    font-size: 48px;
    font-family: "comfortaa";
    text-align: center;
    border: outset , #FFFFFF;
    border-radius: 40px;
    border-width: 6px;
    
}




h3 {
    color: #000000 !important;
    font-size: 24px !important;
    font-family: "comfortaa";
}


div.xlarge.b {
    border: none;
    border-radius: 70px;
    border-width: 5px
}


form {
    border: outset;
    border-radius: 20px;
    border-width: 5px;
}







.cave-grid,
.mound-grid {
    background: rgba(1,1,1,0);
    border: none !important;
    border-radius: 0 !important;
}








.table {
    background: rgba(47, 45, 45, .5) !important;
    font-family: "comfortaa";
    border-radius: 50px;
    border: none;
}


th {
    text-align: center;

}


.top,
.bottom,
th,
.table .left {
    background: rgba(97,136,70,0) !important;
    color: rgb(255,255,255) !important;
    text-align: center;
}
.inner-table .left {
    background: rgb(114, 112, 114) !important;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    color: rgb(255,255,255) !important;
}
.inner-table .right {
    background: rgb(114, 112, 114) !important;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: rgb(255,255,255) !important;
}






.right_odd {
    background: rgba(247,247,247,0) !important;
    border-radius: 50px;
    text-align: center
}
.right_cub {
    background: rgba(255,255,255,0.5) !important;
}
a:link,
a:visited {
    color: #000000 !important;
    font-family: "comfortaa" !important;
}
a:hover {
    color: rgb(0,0,0) !important;
    font-family: "comfortaa" !important;
}








input,
select,
textarea {
    background:rgba(255,255,255,0.66);
    border: none !important;
    box-shadow: none !important;
    color: rgb(0,0,0) !important;
    text-shadow: none !important;
    font-family: "comfortaa";
}


input#postComment {
    background: #FFFFFF
}


input#btnChatSend {
    background: #FFFFFF
}


input[type="submit"] {
    background: #ffffff
}


input[type=button] {
    background: rgb(255,255,255) !important;
    border: none !important;
}
input[type=button]:hover,
input[type=submit]:hover {
    background: rgb(220, 204, 187) !important;
    font-family: "comfortaa";
}
div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
 content: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/de114712-7dca-4f5b-920a-8a7d7d75c452/dgb74vq-607ffa9e-b413-4396-91ec-51fdde779451.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi9kZTExNDcxMi03ZGNhLTRmNWItOTIwYS04YTdkN2Q3NWM0NTIvZGdiNzR2cS02MDdmZmE5ZS1iNDEzLTQzOTYtOTFlYy01MWZkZGU3Nzk0NTEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.TvKeyuZ5T-RuNZ9wOK-Ai3KhOKL7cwLeFTILEsMi5NE');
    transform: scale(1.7);
    padding-left: 35px;
}
 
div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img:hover { transform: scale(1.5); /* Increase size by 1.5 times */ }







div#lion_image {
    border-radius: 100px !important;
    border: none;
    overflow: hidden;
    margin-top: 15px;
    /* May need adjusting */
    margin-left: 12px;
}








div.cave-grid>img 
/* Pregnant Lionesses */
{
    content: url('https://i.pinimg.com/736x/30/52/29/3052290c0c982de36527a4fd1ace63b5.jpg') !important;
    border-radius: 50px;
    height: 200px;
    width: 250px;
    border: none;
}








a[href$="381245"]>div.cave-grid>img {
    content: url('https://wallpaperaccess.com/full/1152092.jpg') !important;
}








a[href$="325460"]>div.cave-grid>img {
    content: url('https://wallpaperaccess.com/full/1152092.jpg') !important;
}








a[href$="210125"]>div.cave-grid>img {
    content: url('https://wallpaperaccess.com/full/1152092.jpg') !important;
}








a[href$="lionoverview.php?id=269782"]>div.cave-grid>img 
/* Pride Overview */
{
    content: url('https://i.pinimg.com/736x/30/52/29/3052290c0c982de36527a4fd1ace63b5.jpg') !important;
}








a[href$="unsorted.php?id=269782"]>div.cave-grid>img 
/* Unsorted */
{
    content: url('https://wallpaperaccess.com/full/1152092.jpg') !important;
}








.mound-grid img 
/* Mound(s) */
{
    content: url("https://i.pinimg.com/1200x/29/5b/79/295b793098d9f2da7441d3316b9a9b87.jpg");
    position: relative;
    width: 150px;
    padding-top: -0px;
    bottom: -0px;
    border-radius: 40px
     
}
.s-chat-message:nth-child(even) {
    background: rgb(221,221,221) !important;
    color: #000000 !important;
    border: none;
}
.s-chat-message:nth-child(odd) {
    background: rgb(117,117,117) !important;
    color: #000000 !important;
    border: none !important;
}






.s-chat-message__pinned {
    background: rgb(255,255,255) !important;
    color: #2E183E  !important;
    border: none !important;
}
/* Timestamps */
.s-chat-message_timestamp {
    color: #000000 !important;
}








#chatMessageContainer {
    border: none !important;
}


button#label_currentChannel {
    background: rgb(255,255,255) !important;
    color: rgb(0,0,0) !important;
    border: dashed !important;
    **;
}








.breadcrumb::after {
        content: "CSS by LemonSeltzer #269782";
        color: #000000;
        position: absolute;
        right: 13%; 
        z-index: 100;
    }
















@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }
















    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }
















    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }


    }
